{% extends 'core/base.html' %}
{% load widget_tweaks %}


{% block content %}
<h1>регистрация</h1>
<div class="form_wrapper">
<form action="{% url 'users:password_reset' %}" method="post">
    {% csrf_token %}
      {% for f in form %}

        <div class="form_fields">
            <label >{{f.label_tag}}</label>
           {% render_field f placeholder=f.help_text  %}
        </div>
            <div class="form-errors" style="color: brown;">{{ f.errors }}</div>

        {% endfor %}
        <button type="submit" class="users_links">сброс пароля</button>

</form>
<a class="users_links" href="{% url 'home' %}">MAIN PAGE  </a>
</div>
{% endblock content %}


