{% extends 'core/base.html' %}
{% load widget_tweaks %}


{% block content %}
<h1>LOGIN</h1>
<div class="form_wrapper">
<form action="{% url 'users:user_login' %}" method="post">
    {% csrf_token %}
      {% for f in form %}
        
        <div class="form_fields">
          <label >{{f.label_tag}}</label>
           {% render_field f   %}
        </div>
            <div class="form-errors">{{ f.errors }}</div>

        {% endfor %}
        <button type="submit" class="users_links">ВОЙТИ</button>

</form>
<a class="simple_links" href="{% url 'users:password_reset' %}">забыли пароль  </a>
<a class="simple_links" href="{% url 'users:register' %}">зарегистрироваться</a>
</div>
{% endblock content %}




