{% extends 'core/base.html' %}



{% block content %}

<h4>{{ doctor.speciality }} {{ doctor.lastname }} </h4>
{{ now_month }}
<div class="doctor_calendar_wrapper">
    <div class="doctor_schedule_calendar">
        {% for wd, value in standart_week.items %}
        <div class="standart_week">{{ value }}</div>
        {% endfor %}
        {% for sh in schedule %}
        {% if sh %}
        <div class="schedule_day">{{ sh.start_appointment }}-{{ sh.end_appointment }}</div>
        {% else %}
        <span style="color: red;opacity: 0.5; font-size: 0.8rem;"> x </span>
        {% endif %}
        {% endfor %}
    </div>

    <hr>

    <div class="calendar_wrapper">
        {% for cf in cal %}
        <div class="weeks_wrapper">
            {% for c in cf %}
            {% if c == 0 %}
            <span style="color: red;opacity: 0.3;"> x </span>
            {% elif c.day < now.day %} <span style="opacity: 0.3;">{{ c.day }}</span>
                {% else %}
                <form action="{% url 'home' %}" method="GET">
                    {% csrf_token %}
                    <input style="background: transparent;" type="submit" name="calendar" value="{{ c.day }}">
                </form>

                {% endif %}
                {% endfor %}
        </div>
        {% endfor %}
    </div>
    <hr>

</div>

{% endblock content %}