@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');

/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}


button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}



ul li {
  list-style: none;
}

img {
  vertical-align:center;
}
/*конец обнуление*/


h1{
  font-size: 2rem;
}
hr{
  border: 1px dotted rgb(121, 214, 214);
  width: 80%;
}
label{
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}
input::placeholder{

opacity:0.8;
font-size:0.8rem;
}

.all-content-wrapper{
display:flex;
flex-direction:column;
align-items:center;
max-width:1200px;
margin:0 auto;
height:calc(100vh - 80px);
}

.form_wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  text-align: center;
}

.form_fields{
margin-bottom:0.5rem;
}
.form_fields input{
width: 100%;
padding: 0.5rem 1rem;
border: 1px dotted rgb(153, 184, 184);
border-radius: 8px;
box-shadow: 0px 0px 34px 100px #fcfcfc inset;
}

.form_fields input:focus{
  box-shadow: 0 0 0px 1000px white inset,
                        0 0 5px rgba(64, 215, 220, 0.8);
}

input:-webkit-autofill:focus{
  background-color: #fff;
}

.users_links{
  background-color: teal;
  color: #fff; 
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  margin-top: 0.5rem;
}
.users_links:hover{
  box-shadow: 1px 1px 3px 1px #413e3e;
  transition: all 0.4s ease-out;
  background-color: rgb(0, 102, 102);

}

.reset_massage_wrapper{
max-width: 450px;
text-align:justify;
font-size:1.1rem;
}
