@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');

/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}


footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}


button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}



ul li {
  list-style: none;
}

img {
  vertical-align: center;
}

/*конец обнуление*/


h1 {
  font-size: 2rem;
}

hr {
  border: 1px dotted rgb(121, 214, 214);
  width: 80%;
  margin-inline: auto;
}


label {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

input::placeholder {

  opacity: 0.8;
  font-size: 0.8rem;
}

.simple_links {
  color: teal;
  font-size: 1.1rem;

}

.htmx__danger {
  color: red;
  transition: all ease-in 1.5s;
  font-size: 1.1rem;

}

.htmx__success {
  color: green;
  transition: all ease-in-out 1.5s;
  font-size: 1.1rem;
}

.all-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 80px);
}

nav {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}

.nav_logo_box {
  justify-self: start;
}

.nav_main_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* background-color: azure; */
}

.nav_user_box {
  justify-self: end;
}

.nav_user_box a {
  margin-right: 1rem;
}


.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  text-align: center;
}

.form_fields {
  margin-bottom: 0.5rem;
}

.form_fields input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px dotted rgb(153, 184, 184);
  border-radius: 8px;
  box-shadow: 0px 0px 34px 100px #fcfcfc inset;
}

.form_fields input:focus {
  box-shadow: 0 0 0px 1000px white inset,
    0 0 5px rgba(64, 215, 220, 0.8);
}

input:-webkit-autofill:focus {
  background-color: #fff;
}

.users_links {
  background-color: teal;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  margin-top: 0.5rem;
}

.users_links:hover {
  box-shadow: 1px 1px 3px 1px #413e3e;
  transition: all 0.4s ease-out;
  background-color: rgb(0, 102, 102);

}

.reset_massage_wrapper {
  max-width: 450px;
  text-align: justify;
  font-size: 1.1rem;
}
.calendar_container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.doctor_calendar_wrapper {
  max-width: 360px;
  background-color: rgb(239, 255, 255);
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: rgb(223, 233, 233) 0px 0px 3px 2px ;
  
}

.doctor_schedule_calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  align-content: center;
  justify-items: center;
  padding: 0.5rem;
  width: 100%;
  
}
.schedule_day {
  font-size: 0.8rem;
  color: teal;
}
.standart_week {
  font-size: 0.9rem;
  font-weight: 600;

}

.wd_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1px dotted rgb(121, 214, 214);
  padding: 0.3rem;
  position: relative;
  justify-items: center;


}

.wd_item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}



.calendar_items_wrapper {
  display: grid;
  box-shadow: rgb(162, 199, 199) 1px 1px 1px;
  border-radius: 4px;

}

.calendar_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

.weeks_wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}


.calendar_item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.3rem;
  background-color: rgb(37, 206, 206);
  min-width: 30px;
  justify-content: center;

}

.calendar_item_none {
  background-color: red;
  width: 50px;
  height: 20px;
}